.uvIndex {
    background-color: green;
    color: white;
}

header h1 {
    color:white;
}

.card-Title {
    font-weight: bold;
}

.text {
    font-size: small;
}

.invisible {
    visibility: hidden;
  }

.visible {
    visibility: visible;
}

.weather-history {
    height: 100%;
}

.current-weather {
    border: 2px solid transparent;
}

.side-bar {
    margin-left: 50px;
}

.weather-history {
    margin-left: 50px;
}

.card {
    background-color: #6c757d;
}