.uvIndex {
    background-color: green;
    color: white;
}

header h1 {
    color:white;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0px;
}

.card-text {
    font-size: small;
}

.invisible {
    visibility: hidden;
  }

.visible {
    visibility: visible;
}

.weather-history {
    height: 100%;
}

.current-weather {
    border: 2px solid transparent;
}

.side-bar {
    margin-left: 50px;
}

.weather-history {
    margin-left: 50px;
}

.weather-history-button {
    width: 360px;
    text-align: center;
}

.forecast-cards {
    text-align: center;
}

.headerIconDiv {
    display: inline-flex;
    align-items: center;
}
